
/* ////////////////////FILE UPLOADS */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 35px 48px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: #BBBBBB;
}
.edit-file-upload {
    border-radius: 3px;
    padding: 0px 8px;
    cursor: pointer;
    margin: 10px;
    /* margin-left: -30%; */
    text-align: center;
    background-color: #BBBBBB;
}

.pre-img{
  height: 100px;
}


/* ////////////////////////MEDIA// */
@media (max-width: 1000px) {
  .container{
    max-width:2000px;
    padding: 0px
  }
}
