/* //////////// helpful selectors */

*{
  font-family: 'Roboto', cursive;
}
.table-2{
  border: none;
}
.flex{
  display: flex;
}
.spinner-homepage{
  font-size: 6rem;
  height: 200px;
  width: 200px;
  color: #ED6242;
  text-align: center;
}
body {
 /* padding-bottom: 50px; */
 /* padding-top: 50px; */
}
.submited{
  font-weight: bolder;
  font-size: 4rem;
  /* margin-left: 10%;
  margin-top: 10%; */
  height: 200px;
  width: 200px;
  color: #ED6242;
  text-align: center;
}

.hide {
  display: none;
}
.show {

}

.bold{
  font-weight: bolder;
}



.dashboard{
  font-size: 1rem;
}



/* //////////// Homepage */
.homepage-nav{
  background-color: #5694FF;
}

.backend-nav{
  text-align: right;
  font-weight: 500;
  flex-direction: column;
}
.navbar-2{
float: left;
}


.header-nav{
  margin-bottom: 50px;
}

.help-btn{
  background-color: #ED6242;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5em;
  /* padding: 10px 20px; */
  border-radius: 10px;
}

.blue-divider{
  height: 10px;
  width: 100%;
  background-color: #5694FF;

}

/* //////////////////////HOME divider */

.divider-container {
  position: relative;
  height: 500px;
  padding-top: -75px;
  padding: 0px;
}
.divider-words{
  padding: 10px;
  height: 80%;
  /* top: 100px;
  position: absolute; */
}

.divider-words img{
  height: 100%;
}

.divider-top {
  height: 100%;
  width: 100%;
  padding-top: -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1604754742629-3e5728249d73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
}

.divider-button{

  margin-left: 70%;
  margin-right: 10px;
}

/* /////////////////////PRODUCTS */
#products{
  background-color: #DFEBFF;
  /* display: flex;
  flex-direction: column; */
}
.card-container{
  flex-wrap: nowrap;
}
.card{
  width: 30%;
  display: flex;
  margin: 40px 10px;
  background-color: #FFF;
  color: #ED6242;
  border: 3px solid #ED6242;
  font-weight: bolder;
  border-radius: 20px;
}
.card-img-top{
  width: 50%;
  text-align: center;
  padding-top: 10px;
  border-radius: 30px;
}
.card-title{
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.card-text{
  text-align: center;
  font-weight: lighter;
}
.product-btn{
  background-color: #5694FF;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  width: 100%;
}

/* ////////////////////// REVIEWS */
#reviews{
  margin: 50px 0px;
}

.review-item{
  padding: 30px 70px;
}

.review-title{
  color: #ED6242;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.review-text{
  font-size: 2rem;
}

.review-author{
  font-size: 2em;
}

.review-stars{
  font-size: 2em;
  color: #ED6242;
  margin-left: auto;
}

.left-arrow{
  float: left;

}
.left-arrow, .right-arrow{
  padding-top: 10px;
  color: #5694FF;
  font-size: 2rem;
}
.right-arrow{
  float: right;
}

.left-arrow:hover, .right-arrow:hover{
  padding-top: 10px;
  padding-right: 2px;
  color: #ED6242;
  font-size: 2rem;
}
.left-arrow:hover{
  padding-left: 2px;
}
/* /////////////////////ABOUT */
#about{
  background-color: #5694FF;
  padding: 0px;
}
.contact-title{
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  padding: 0px;
  color: white;
  background-color:  #5694FF;
}
.about-title{
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  padding: 0px;
  color: white;
  background-color:  #ED6242;
}
.about-text{
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.about-photo{
  height: 300px;
  min-width: 350px;
}

.about-img {
  height: 100%;
  padding-top: -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1448932223592-d1fc686e76ea?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1949&q=80');
}


/* ////////////////////CLIENT FORM */

.clientForm{
  margin: 50px 0px;
  border-radius: 30px;
  background-color: #E6E6E6;
}
.form-title{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.form{
  margin: 100px 0px;
}


.hardware-btn{
  font-size: 2rem;
  font-weight: bolder;
}

.btn-orange{
  background-color: #ED6242;
  color: white;
}

.btn-orange:hover{
  background-color: #5694FF;
  color: white;
}
.btn-job{
  background-color:#5694FF;
  color: white;
}

.btn-job:hover{
  background-color: #ED6242;
  color: white;
}
/* ///////////////////////CONTACT US/ */
#contact{
  background-color: #5694FF;
  padding: 10px;

}
.contact-title{
  font-size: 1em;
  font-weight: bolder;
  text-align: center;
  padding: 0px;
  color: white;
  margin: 0px;
  background-color:  #5694FF;
}
/* ////////////////////FILE UPLOADS */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 29% 75%;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-color: #BBBBBB;
}
.edit-file-upload {
    border-radius: 3px;
    padding: 0px 8px;
    cursor: pointer;
    margin: 10px;
    /* margin-left: -30%; */
    text-align: center;
    background-color: #BBBBBB;
}

.pre-img{
  max-height: 300px;
}

.pre-fluid-img{
  max-width: 100%;
}

.file-form{
  margin-top: 25px;
}
/* ////////////////////////CLIENT LIST */
.letter{
  background-color: #DFEBFF;
}
.header{
  /* top: 50px; */
  font-size: 1em;
  font-weight: 900;
  padding: 5px 10px;
  background-color: #9EA7B2;
  color: white;
}
.client-by-letter{
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
}

.client-by-letter p{
  border-bottom: 1px solid #9EA7B2;
  color: #6DB4C5;
}

.location{
  float: right;
}

.location-2{
  float: right;
}
/* //////////////////////////////CLIENT DETAIL/ */

/* .client-container{
  background-color: #DFEBFF;
  margin: 10px;
} */
.client-name{
  background-color: #54B6C8;
  color: white;
  padding: 10px 30px;
  font-size: 2em;
  font-weight: bold;
}

.client-info{
  margin: 30px;
  margin-bottom: 0px;
}

.client-jobs-header{
  background-color: #87AEB8;

  color: white;
  padding: 10px 30px;
  font-size: 2em;
  font-weight: bold;
}
.client-notes-header{
  background-color: #A0A7B1;
  color: white;
  padding: 10px 30px;
  font-size: 2em;
  font-weight: bold;
}

/* /////////////////////////////////LOGINFORM/ */
.login-title{
  background-color: #54B6C8;
  color: white;
  padding: 10px 30px;
  font-size: 2em;
  font-weight: bold;
}
.login-btn{
  text-decoration: none;
  float: right;
}
.login-btn a{
  color: white;
}
.login-text {
  color:#5694FF;
  font-weight: bold;
}
.login-text span{
  color: #ED6242;
}

.loginform, .regform{
  margin: 10px;
}
/* ///ADD JOB/CLIENT */

.header-backend{
  background-color: #54B6C8;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.btn-add {
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  background-color: inherit;
}
.btn-add:hover, .btn-add:active, .btn-add:focus{
  background-color:  #307DF6;
  border: none;
}

/* ////////////////////////MEDIA// */
/* @media (max-width: 2000px) {
  .container{
    max-width:2000px;
    padding: 10px
  }
} */
/* //hide the other products when on moblie */
@media (max-width: 980px) {
  .location-2{
    float:none;
    /* float: right; */
  }

}

@media (max-width: 750px) {
  .review-title{
    font-size: 2rem;
  }
  .review-text, .review-author, .review-stars{
    font-size: 1.5rem;
  }

  .about-text{
    padding: 25px;
  }

}

@media (max-width: 650px) {
  .card:not(:first-child){
    display: none;
  }
  .review-title{
    font-size: 1.5rem;
  }
  .review-text, .review-author, .review-stars{
    font-size: 1rem;
    text-align: center;
  }
  .btn-add {
    font-size: 1rem;
  }
  .navbar-brand{
    font-size: 1rem;
    font-weight: 600;
  }
  .dashboard{
    font-size: .75rem;
    font-weight: bolder;
  }
  .btn-job{
    background-color:#5694FF;
    color: white;
    font-size: .75rem;
  }

  .btn-job:hover{
    background-color: #ED6242;
    color: white;
    font-size: .75rem;
  }



}



@media (max-width: 500px) {
  .navbar-1{
    margin: 3px;
  }
  .navbar-2{
    margin: 3px;
  }
}
